<% scores.each do |score| %>
  <%= link_to viewer_score_path(score) do %>
    <div class="score-card d-flex flex-column align-items-start">
      <% if score.cover.attached? %>
        <img class="cover" src="<%= cl_image_path score.cover.key, height: 180, width: 140 %>">
      <% else %>
        <img src="https://cdn.glitch.com/96d14086-88aa-4431-9b90-c5a325656bc3%2Fwolfgang-cover.png?v=1606244253539">
      <% end %>
      <div class="score-details">
        <span><%= score.composer.name %></span>
        <h4><%= score.title %></h4>
      </div>
      <% if score.shared? %>
        <span>
          <% score.collaborators(current_user).each do |collaborator| %>
            <%= cl_image_tag collaborator.picture.key, class: "avatar-bordered collab_thumbnail" %>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>

