<!-- Our Featured Collection Slider -->
  <div class="container-fluid pt-5">
      <!-- Start Slider Row -->
        <div class="slider">
          <div class="headings d-flex align-items-center">
            <h2 class="text-left py-3">Our featured collections</h2>
            <div class="buttons">
              <!--
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              -->
            </div>
          </div>
          <!-- Slider main container -->
          <div class="swiper-container s1">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                  <!-- Slides -->

                  <div class="swiper-slide pl-3 py-3 d-flex justify-content-between align-items-start flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.glitch.com/e0ac0c28-c085-4684-b038-2004cc96dbc4%2FLaLaLand-wallpaper.jpg?v=1606084856055'); background-position: right;" >
                      <div class="slide-header">
                        <span class="subtitle">Selections</span>
                        <h4>Music from the motion picture soundtrack</h4>
                      </div>
                      <div class="slide-footer">
                        <button class="btn btn-light">Open in the viewer</button>
                      </div>
                  </div>
                  <div class="swiper-slide pl-3 py-3 d-flex justify-content-between align-items-start flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.profession-spectacle.com/wp-content/uploads/2018/01/Wolfgang-Amadeus-Mozart-e1515927539418.jpg')">
                      <div class="slide-header">
                        <span class="subtitle">Collection</span>
                        <h4>Wolfgang Amadeus Mozart piano sonatas</h4>
                      </div>
                      <div class="slide-footer">
                        <button class="btn btn-light">Open in the viewer</button>
                      </div>
                  </div>
                  <div class="swiper-slide pl-3 py-3 d-flex justify-content-between align-items-start flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.wrti.org/sites/wrti/files/styles/x_large/public/201905/DaveBrubeckGetty1300px.jpg')">
                      <div class="slide-header">
                        <span class="subtitle">Collection</span>
                        <h4>Remembering Jazz pianist Dave Brubeck </h4>
                      </div>
                      <div class="slide-footer">
                        <button class="btn btn-light">Open in the viewer</button>
                      </div>
                  </div>
                  <div class="swiper-slide pl-3 py-3 d-flex justify-content-between align-items-start flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.glitch.com/96d14086-88aa-4431-9b90-c5a325656bc3%2Fblackpink.jpg'); background-position: center;">
                      <div class="slide-header">
                        <span class="subtitle">Collection</span>
                        <h4>New Blackpink's scores </h4>
                      </div>
                      <div class="slide-footer">
                        <button class="btn btn-light">Open in the viewer</button>
                      </div>
                  </div>
                  <div class="swiper-slide pl-3 py-3 d-flex justify-content-between align-items-start flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.glitch.com/96d14086-88aa-4431-9b90-c5a325656bc3%2Fverdi.jpg'); background-position: center;">
                      <div class="slide-header">
                        <span class="subtitle">Collection</span>
                        <h4>Verdi's Operas </h4>
                      </div>
                      <div class="slide-footer">
                        <button class="btn btn-light">Open in the viewer</button>
                      </div>
                  </div>
              </div>
          </div>
        <!-- End Slider main container -->
      </div>
      <!-- End Slider Row -->
  </div>
  <div class="container mb-5">
    <div class="headings d-flex flex-row pt-3 pb-5">
      <h2 class="text-left py-3">
      <%= link_to 'All Scores', scores_path %>
      </h2>
      <div class="d-flex ml-3 align-items-center">
        <!-- Search Bar -->
        <div class="searchContainer">
        <%= simple_form_for :search, url: scores_path, method: :get, remote: true do |f| %>
          <%= f.input :query, label: false, placeholder: "Composer, score, ...", input_html: {id:"search", class: "searchbar outline", autocomplete: "off"} %>
          <%= button_tag type: "submit", class: "button-postfix", id: "submit" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
      <!-- End Search Bar -->
        <div class="grid-container" id="scores-list">
          <%= render "scores/scores_list", scores: @scores %>
        </div>
      </div>
    </div>
<!--     <div class="container mt-5">
      <div class="d-flex justify-content-center">
        <a class="btn btn-dark text-white">Load more</a>
      </div>

     <div class="container mb-5">
        <div class="headings d-flex flex-column pt-3 pb-5">
          <h2 class="text-left py-3">Category</h2>
          <p>CARD : Classic // Romantic etc ...</p>
        </div>
     </div>

     <div class="container mb-5">
        <div class="headings d-flex flex-column pt-3 pb-5">
          <h2 class="text-left py-3">Composers</h2>
          <p>AVATAR ROUNDED : Composer's pics </p>
        </div> -->
     </div>
    </div>
