<div class="container d-flex align-items-center">
   <div class="show">
      <div class="card-head d-flex flex-direction-row mb-3">
        <% if @score.composer.picture.attached? %>
          <%= cl_image_tag @score.composer.picture.key, height: 280, width: 360, crop: :fill %>
        <% else %>
          <img src="https://miro.medium.com/max/1836/1*NzLGpAE4V7LJCfibfgIlHA@2x.png" height="280px" width="360px" alt="picture" />
        <% end %>
        <div class="p-3">
          <h2><%= @score.composer.name %></h2>
          <h4><%= @score.title %></h4>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <% if @score.pages.count < @score.page_count %>
            <%= render "loader" %>
          <% else %>
            <%= link_to "Clik to play", viewer_score_path(@score), class: "login-btn" %>
          <% end %>
        </div>
      </div>
     <div class="card-body border-top border-dark">
      <h5>Biography</h5>
      <p><%= @score.composer.bio %></p>
     </div>
  </div>
</div>

<style>
  .loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
</style>
