<div class="full-height">
  <div
    id="viewer"
    data-pdf-pages="<%= @score.page_count %>"
    data-img-pages="<%= @score.pages.count %>"
    data-page-id="<%= @page.id %>"
    data-annotation="<%= @page.annotation.data if @page.annotation %>"
  >
    <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.id - 1}), id: "previous"  %>
    <div id="zone">
      <%= cl_image_tag @page.file.key, class: 'score-page' %>
    </div>
    <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.id + 1}), id: "next"  %>
     <div id="tools">
      <button id="mode">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
      </button>
      <button id="clear">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
      </button>
      <button id="undo">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left"><polyline points="9 14 4 9 9 4"></polyline><path d="M20 20v-7a4 4 0 0 0-4-4H4"></path></svg>
      </button>
    </div>
  </div>
</div>
