<div class="full-height">
  <div id="viewer" data-page-id="<%= @page.id %>" data-annotation="<%= @page.annotation.data if @page.annotation %>">
    <% unless @page.is_first? %>
      <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.previous.id}), id: "previous"  %>
    <% end %>
    <div id="zone">
      <%= cl_image_tag @page.file.key, class: 'score-page' %>
    </div>
    <% unless @page.is_last? %>
      <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.next.id }), id: "next"  %>
    <% end %>
     <div id="tools">
      <button id="pen">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffb700" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
      </button>
      <button id="eraser">
        <svg width="25" height="25" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 56 56" version="1.1" x="0px" y="0px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-98.000000, -503.000000)"><g transform="translate(96.000000, 501.000000)"><g transform="translate(30.577329, 30.569497) rotate(-315.000000) translate(-30.577329, -30.569497) translate(13.077329, 5.069497)"><path d="M8.30668865,0.378864595 C3.89333881,0.378864595 0.315611875,3.95467558 0.315611875,8.38449753 L0.315611875,42.3732317 C0.315611875,46.7946206 3.90492134,50.3788646 8.30668865,50.3788646 L24.9908384,50.3788646 C29.4041882,50.3788646 32.9819151,46.8030536 32.9819151,42.3732317 L32.9819151,8.38449753 C32.9819151,3.96310855 29.3926057,0.378864595 24.9908384,0.378864595 L8.30668865,0.378864595 Z" stroke="#000000" stroke-width="2.5"/><path d="M0.56672679,22.1909249 L33.6632056,22.1909249" stroke="#000000" stroke-width="6"/><polygon fill="#000000" points="0.767269683 23.5934207 0.484522928 4.60483602 5.73687678 0.628321036 28.3917518 0.628321036 33.0912547 6.6731214 33.0912547 23.436363"/></g><path d="M23.3893329,55.7915096 L56.176283,55.7915096" stroke="#000000" stroke-width="2.5" stroke-linecap="round"/></g></g></g></svg>
      </button>
      <button id="undo">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>
      </button>
      <button id="clear">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 23" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
      </button>
    </div>

    <div id="share-btn">
      <button id="share">
        <%= link_to root_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
        <% end %>
      </button>
    </div>

    <div id="info-btn">
      <button id="info" data-toggle="modal" data-target="#infoModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
      </button>
    </div>

<!-- Modal Bootstrap Info -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel"> <%= @score.title %> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>
<!-- Fin de Modal Info -->

    <div id="setting-btn" data-toggle="modal" data-target="#settingModal">
      <button id="setting">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
      </button>
    </div>

<!-- Modal Bootstrap Setting -->
    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingModalLabel"> <%= @score.title %> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if policy(@score).edit? %>
              <p> <a role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Edit </a> </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <%= simple_form_for @score do |f| %>
                  <%= f.input :title, input_html: { autocomplete: "off" } %>
                  <%= f.submit 'Save new title', class: "login-btn mt-5" %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if policy(@score).destroy? %>
              <p> <%= link_to 'Delete', @score, method: :delete, data: {confirm: "Do you realy want to DELETE this score?"}, class: 'delete-btn'%> </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<!-- Fin de Modal Setting -->

  </div>
</div>
