<!-- <div class="full-height"> -->
  <div id="viewer" data-page-id="<%= @page.id %>"
                   data-annotation="<%= @page.annotation.data if @page.annotation %>"
                   data-owner-id="<%= @page.score.user.id %>"
                   data-user-id="<%= current_user.id %>">

    <% unless @page.is_first? %>
      <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.previous.id}), id: "previous"  %>
    <% end %>
    <div id="zone">
      <%= cl_image_tag @page.file.key, class: 'score-page' %>
    </div>
    <% unless @page.is_last? %>
      <%= link_to ' ', viewer_score_path(@score, params: {page_id: @page.next.id }), id: "next"  %>
    <% end %>
    <%= render 'tools' %>

    <% if @score.user == current_user %>
      <div id="share-btn">
        <div class="collaborations">
          <%= simple_form_for Collaboration.new do |f| %>
            <%= f.association :user, collection: User.all.map { |user| [user.username, user.id]} %>
            <%= f.input :score_id, input_html: { value: @page.score.id, class: 'd-none' }, label: false %>
            <%= f.submit %>
          <% end %>
        </div>
        <button id="share">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
        </button>
      </div>
    <% end %>
  </div>
<!-- </div> -->
