<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 px-0 flex-column justify-content-center align-items-center d-none d-md-flex">
      <h2 class="text-center h1 mb-5">Watch a demo of Wolfgang</h2>
      <iframe height="300" width="600" src="https://www.youtube-nocookie.com/embed/BKkxUFBYtVU?start=5603&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="mt-4 p-3 d-flex justify-content-center align-items-center board-color rounded">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <%= image_tag "users/bastien_duban.jpg", class: "rounded-circle", height: "80", width: "80" %>
          <p>Bastien Duban</p>
        </div>
        <div class="p-2 d-flex flex-column align-items-center justify-content-center">
          <%= image_tag "users/nathalie_freyburger.jpg", class: "rounded-circle", height: "80", width: "80" %>
          <p>Nathalie Freyburger</p>
        </div>
        <div class="p-2 d-flex flex-column align-items-center justify-content-center">
          <%= image_tag "users/gael_gendre.jpg", class: "rounded-circle", height: "80", width: "80" %>
          <p>Gael Gendre</p>
        </div>
        <div class="p-2 d-flex flex-column align-items-center justify-content-center">
          <%= image_tag "users/pierre_penhard.jpg", class: "rounded-circle", height: "80", width: "80" %>
          <p>Pierre Penhard</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center login-section-wrapper">
      <div class="login-wrapper my-auto">
        <h1 class="login-title text-center">Log in</h1>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.input :email,
                            required: false,
                            placeholder: "email@example.com",
                            autofocus: true,
                            class: "form-control",
                            input_html: { autocomplete: "email" } %>
              </div>
              <div class="form-group mb-4">
              <%= f.input :password,
                          required: false,
                          placeholder: "Enter your password",
                          class: "form-control",
                          input_html: { autocomplete: "current-password" } %>
              </div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-block login-btn-2" %>
            </div>
            <%#= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
